* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background: radial-gradient(circle at top, #2b2b2b, #000);
    width: 100%;
    opacity: 0;
    animation: fadeIn 1.2s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.navbar {
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #ccc;
    transition: 0.3s;
}

.nav-links a.active, .nav-links a:hover {
    color: white;
}

/* Головний блок */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 40px;
    margin-top: -100px;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 45px;
    margin-top: 20px;
    color: #c9c3ff;
    background: linear-gradient(to right, #a57cff, #64d5ff);
    background-clip: text;
    color: transparent;
}

.hero-text p {
    color: #fff;
    line-height: 1.6;
    max-width: 500px;
}

/* Кнопка */
.explore-btn {
    margin-top: 10px;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.explore-btn:hover {
    background: white;
    color: black;
}

/* Фото */
.hero-image img {
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
    margin-top: 150px;
}

/* Додактова інфа */
.info-box {
    background: #bcd0ff;
    padding: 25px 30px;
    padding-left: 40px;
    border-radius: 12px;
    display: flex;
    gap: 18px;
    align-items: flex-start;
    margin: 0 35px;
    width: 45%;
}

.info-icon {
    width: 22px;
    margin: 0 auto;
    height: 22px;
    border: 3px solid #4b63c9;
    border-radius: 4px;               
}

.info-text {
    font-size: 18px;
    color: #000;
    line-height: 1.45;
}

/* Блок 2 */
.block2-container {
    width: 80%;
    margin: 35px auto;
}

.block2-container h1 {
    font-size: 32px;
    margin-top: 35px;
    text-align: center;
    color: #c9c3ff;
    background: linear-gradient(to right, #a57cff, #64d5ff);
    background-clip: text;
    color: transparent;
}

.timeline {
    position: relative;
    width: 80%;
    margin: 20px auto;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background: #555;
    transform: translateX(-50%);
}

.timeline-item {
    width: 50%;
    padding: 20px;
    position: relative;
}

.timeline-item.left {
    left: 0;
    text-align: left;
}

.timeline-item.right {
    left: 50%;
    text-align: left;
}

.timeline-number {
    position: absolute;
    top: 0;
    right: -25px;
    background: #222;
    color: white;
    border: 2px solid #555;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.timeline-item.right .timeline-number {
    left: -25px;
    right: auto;
}

.content-box {
    background: #181818;
    border: 1px solid #444;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 25px #bcd0ff
}

.content-box img {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    border: 1px solid #444;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
}

.block2-container h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #E0D6DE;
    font-weight: 600;
}

.block2-container p {
    color: #ccc;
    line-height: 1.5;
}

/* Блок 3 */
.block3-container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 50px 20px;
}

.block3-container title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    color: #c9c3ff;
}

.block3-container h1 {
    background: linear-gradient(to right, #a57cff, #64d5ff);
    background-clip: text;
    color: transparent;
    color: #E0D6DE;
}

.intro {
    font-size: 18px;
    margin-top: 25px;
}

.card {
    background: #2a2a33;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.card h2 {
    margin-top: 0;
    font-size: 22px;
    color: #E0D6DE;
}

.card p {
    margin-top: 8px;
    font-size: 17px;
    color: #d1d1d1;
}

.block3-container .bottom-text {
    background: #bcd0ff;
    padding: 25px 30px;
    border-radius: 20px;
    display: flex;
    gap: 18px;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    font-size: 18px;
    color: #000;
    line-height: 1.45;
}

/* Блок 4 */
.block4-container {
    padding: 50px 20px;
    text-align: center;
}

.block4-container h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    background: linear-gradient(90deg, #c37bff, #5cc6ff);
    background-clip: text;
    color: transparent;
    color: #E0D6DE;
}

.title2 {
    color: #fff;
    font-size: 16px;
    max-width: 800px;
    margin: 0 auto 40px;
}

.benefit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
    margin-top: 20px;
    transition: 0.4s;
    cursor: pointer;
}

.benefit.collapsed {
    grid-template-columns: 1fr;
    max-width: 350px;
    margin: 0 auto;
    filter: brightness(0.9);
}

.benefit.collapsed .benefit-item {
    display: none;
}

.benefit.collapsed .benefit-item:first-child {
    display: block;
}

.benefit.expanded {
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    margin: 30px auto;
    max-width: 100%;
}

.benefit.expanded .benefit-item {
    display: block;
}

.benefit-item {
    background: #2a2a33;
    border: 1px solid #222;
    padding: 25px;
    text-align: left;
    border-radius: 12px;
    box-shadow: 0 0 25px #bcd0ff;
    transition: 0.3s;

}

.benefit-item:hover {
    transform: scale(1.03);
}

.benefit-item img {
    width: 40px;
    margin-bottom: 15px;
    color: #fff;
}

.benefit-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #E0D6DE;
}

.benefit-item p {
    color: #ccc;
    line-height: 1.5;
    font-size: 15px;
}

/* Блок 5 */
.block5-container{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 30px 20px;
    color: #c9c3ff;
    font-family: Arial, sans-serif;
}

.block5-container h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #c37bff, #5cc6ff);
    background-clip: text;
    color: transparent;
}

.intro2 {
    color: #cccccc;
    margin-bottom: 30px;
    font-size: 16px;
}

.image-item2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.img-large {
    grid-column: 1 / span 2;
}

.img-box {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
}

.img-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.bottom-text2 {
    margin-top: 30px;
    font-size: 16px;
    color: #cccccc;
    line-height: 1.5;
}

/* Блок 6 */
.block6-container {
    width: 100%;
    padding: 80px 40px;
    color: #ddd;
    font-family: "Inter", sans-serif;
}

.block6-container h2 {
    font-size: 32px;
    margin-top: 35px;
    text-align: center;
    color: #e3e5ff;
    background: linear-gradient(90deg, #bf8cff, #6ad1ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.join-desc {
    margin: 15px 0 40px 0;
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
}

.join-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
}

.join-item {
    padding-right: 20px;
}

.block6-container .icon {
    font-size: 32px;
    margin-bottom: 10px;
}

.block6-container .line {
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, #bf8cff, #6ad1ff);
    margin-bottom: 15px;
    border-radius: 5px;
}

.join-item h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #E0D6DE;
}

.join-item p {
    font-size: 16px;
    line-height: 1.6;
    color: #ccc;
}

/* Блок 7*/
.lastone {
    text-align: center;
    padding: 60px 0;
    color: white;
}

.lastone h2 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #c37bff, #5cc6ff);
    background-clip: text;
    color: transparent;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 50px;
    color: #d0d0d0;
}

.future-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    max-width: 900px;
    margin: auto;
}

.future-item {
    background: #2a2a33;
    padding: 28px;
    border-radius: 12px;
    border: 1px solid #222;
    box-shadow: 0 0 25px #bcd0ff;
    position: relative;
}

.future-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 60px;
    transform: translateY(-50%);
    background: #2a2a2a;
    z-index: -1;
    border-radius: 5px;
}

.icon2 {
    font-size: 25px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.lastone img {
    width: 40px;
    margin-bottom: 15px;
    color: #fff;
}

.future-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #E0D6DE;
}

.future-item p {
    color: #d7d7d7;
    line-height: 1.5;
    font-size: 16px;
}

.bottom-text3 {
    margin-top: 55px;
    font-size: 18px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #e0e0e0;
}

/*footer*/
.footer {
    background: #020303;
    color: white;
    padding: 80px 40px;
    font-family: Arial, sans-serif;
    margin: 0;
    max-width: 100%;
    width: 100%;
    display: block;
}

.footer-fedback {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 60px;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.footer h2 {
    margin-bottom: 15px;
    font-weight: bold;
}

.footer p {
    line-height: 1.5;
    opacity: 0.8;
    font-weight: 100;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    padding: 10px 0;
    cursor: pointer;
    opacity: 0.8;
    
}

.footer-line {
    width: 100%;
    height: 1.3px;
    background: rgb(170, 170, 170);
    margin: 35px 0;
}

.copyright {
    text-align: center;
    opacity: 0.8;
}

.footer .img-box2 {
    width: 40px;
    height: 35px;
    text-align: center;
    display: inline-block;
}

.footer .img-box2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* about us */
.about-section {
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    background: #000;
    padding: 60px 0;
}

.about-title {
    font-size: 45px;
    font-weight: 700;
    background: linear-gradient(90deg, #c37bff, #5cc6ff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom: 50px;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 70%;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    border: 12px #bcd0ff;
    box-shadow: 0 0 25px #bcd0ff;
    margin-bottom: 65px;
}

.about-img img {
    width: 500px;
    border-radius: 15px;
    border: 15px rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
}

.about-info {
    width: 50%;
    text-align: left;
}

.about-info h2 {
    font-size: 30px;
    margin-top: 30px;
}

.about-info p {
    color:#dcdcdc;
    line-height: 1.6;
    margin-top: 5px;
}

.skills-box {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 12px;
    margin-top: 10px;
}

.skill {
    font-size: 17px;
    font-weight: 600;
    display:flex;
    justify-content: space-between;
    background: #2a2a33;
    padding: 10px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color:#fff;
}

.btn:hover {
    background:#48ffce;
    color:#000;
    transform:scale(1.07);
}

.audio-box{
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #111;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 0 0 10px #00000055;
}

.audio-btn{
    background: linear-gradient(145deg, #1a1a1a, #0d0d0d);
    color: #00ff8c;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.audio-btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #00ff8c88;
}

.audio-btn.playing{
    color:#ff3b3b;
    box-shadow: 0 0 10px #ff3b3b88;
}


/* contact us */
.contact {
    background: #000;
}

.contact img {
    width: 70%;
    margin: 80px 15%;
}

/* Відео  */
.video-section{
    text-align: center;
    margin: 60px 0;
}

.video-box{
    display: flex;
    justify-content: center;
}

.video-box video{
    width: 60%;
    max-width: 900px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(255,255,255,0.3);
}
